<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/cool.css?q=222">
    <title>login</title>
</head>
<body>
<h2>The username and password have been printed in console</h2>
<form action="/auth" method="POST">
  give me ur username:<br>
    <input type="text" name="username" value = 'Username'> <br>
    give me ur password:<br>
    <input type="text" name="password" value = 'Password'>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
